<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./style.css">
        <title>Scania CTF</title>
    </head>
    <body>
        <div id="banner">
            <div id="title">#CTF</div>
            <div id="menu">
            <a hx-get="/c01.html" hx-target="#content">C01</a>
            <a hx-get="/p01.html" hx-target="#content">P01</a>
            </div>
        </div>
        <div id="content">
            Test
        </div>
    </body>
</html>
